<!-- <div class="col-md-10">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-auto-complete [dataList]="list"></app-auto-complete></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-date-picker></app-date-picker></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-tooltip></app-tooltip></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-alert></app-alert></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-modal></app-modal></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-input [childMessage]="parentMessage"></app-input></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-address-set></app-address-set></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-10"><app-select></app-select></div>
    </div>
    </div> -->

<app-header></app-header>
    <section class="page-container" >
        <router-outlet></router-outlet>
    </section>
<app-footer-menu></app-footer-menu>    
<app-footer></app-footer>
