<div class="secondary-menu-outer">
    <div class="secondary-menu clearfix">
      <div class="secondary-menu-content">
        <ul>		
          <li link-url="" class="announcements menuOption">
            <span translate="Footer.ANNOUNCEMENTS"></span>
            <div class="sec-dd resources" >
              <div class="inner-small announcements">
                <div class="linkColumn">
                  <ul class="linkSection">
                    <li>
                      <a href="http://{{cmshost}}/general-rate-increases"><span translate="Footer.GENERAL_RATE_INCREASES"></span></a>
                    </li>
                    <li>
                      <a href="http://{{cmshost}}/customer-advisories"><span translate="Footer.CUSTOMER_ADVISORIES"></span></a>
                    </li>
                    <li>
                      <a href="http://{{cmshost}}/vanguard-network"><span translate="Footer.NETWORK"></span></a>
                    </li>									
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="where_we_are menuOption"  url-target="_blank">
            <!-- <a href="http://{{cmshost}}/locations">Where We Are</a> -->
            <span translate="Footer.WHERE_WE_ARE"></span>
            <div style="position: absolute; top: 18px; width: 100%">
              <div class="sec-dd where_we_are" style="display: none">
                <div class="inner-small where_we_are"></div>
              </div>
            </div>
          </li>
          <li link-url="" class="resources">
            <span translate="Footer.RESOURCE"></span>
            <div class="sec-dd resources" >
              <div class="inner-small resources">
                <div class="linkColumn">
                  <ul class="linkSection">
                  
                    <li ng-if="isUserLoggedIn==false">
                      <a href="/apps/signup/"><span translate="Footer.CREATE_AN_ACCT"></span></a>
                    </li>
                    <li ng-if="isUserLoggedIn==false">
                      <a href="/apps/user/get-password.jsp"><span translate="Footer.FORGOT_USER"></span></a>
                    </li>
                    <li ng-if="isUserLoggedIn==false">
                      <a href="/apps/user/get-password.jsp"><span translate="Footer.RESET_PASS"></span></a>
                    </li>
                    <li>
                      <a href="http://{{cmshost}}/glossary" target="_blank"><span translate="Footer.TERMS_USE_LINKS"></span></a>
                    </li>
                    <li>
                      <a href="/apps/measurement-calculator/" target="_blank"><span translate="Menu.MEASURE_CALC"></span></a>
                    </li>
                    <li>
                      <a href="http://{{cmshost}}/news" target="_blank"><span translate="Footer.NEWS"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li link-url="" class="services">
            <span translate="Footer.SERVICE"></span>
            <div class="sec-dd services">
              <div class="inner-small services">
                <div class="linkColumn">
                  <ul class="linkSection">
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/services-overview"><span translate="Footer.SERVICE_OVERVIEW"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/airfreight"><span translate="Footer.AIR_FREIGHT"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/cfs-and-warehouse"><span translate="Footer.CFS_WAREHOUSE"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/fcl-ocean-freight"><span translate="Footer.FCL_SERVICE"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/hazardous-cargo"><span translate="Footer.HAZ_CARGO"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/ipi-and-gateway"><span translate="Footer.IPI_GATE"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/LCL-consolidation"><span translate="Footer.LCL_CONSOLIDATION"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/road-network-capabilities"><span translate="Footer.ROAD_NETWORK_CAPABLE"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://{{cmshost}}/technology-solutions"><span translate="Footer.TECH_SOLUTIONS"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li link-url="" class="fmc_tariffs"><!-- style="position: relative"  -->
            <span translate="Footer.OB"></span>
            <div class="sec-dd fmc_tariffs" >
              <div class="inner-small fmc_tariffs">
                <div class="linkColumn">
                  <ul class="linkSection">
                    <li>
                      <a target="_blank" href="http://brennan-global.com/"><span translate="Footer.BRENNAN"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://conterm-global.com/"><span translate="Footer.CONTERM"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://dcl-global.com/"><span translate="Footer.DCL"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://oceanexpress-global.com/"><span translate="Footer.OCEAN_EXP"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://oceanworldshipping.com/"><span translate="Footer.OWS"></span></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://vanguardlogistics.com/"><span translate="Footer.VANGUARD_LOGISTICS"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="secondary-menu-drop-down"></div>
  </div>